URxvt.font: xft:Fira Code:size=15:antialias=true:hinting=true,xft:Open Sans:minspace=false,xtf:FontAwesome
URxvt.scrollBar:false
URxvt.letterSpace: 0

! Colors

URxvt.background: #1a1a1a
URxvt.foreground: #c6c6c6

! green

URxvt.color2: #0ad292
URxvt.color10: #0ae292
! blue
URxvt.color4  : #34f5A4
URxvt.color12 : #72fFCF

! red
URxvt.color1  : #CC0000
URxvt.color9 : #EF2929

! yellow
URxvt.color3  : #C4A000
URxvt.color11 : #FCE94F

! magenta
URxvt.color5  : #4d4d9d
URxvt.color13 : #2cfc55
! cyan
URxvt.color6  : #06989A
URxvt.color14 : #34E2E2
! white
URxvt.color7  : #D3D7CF
URxvt.color15 : #EEEEEC

XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
XTerm*faceName: xft:Fira Code-12
