URxvt.font: xft:Fira Code:size=15:antialias=true:hinting=true,xft:Symbola,xft:Noto Emoji:minspace=False
URxvt.scrollBar:false
URxvt.letterpace: 0

! Colors

*.background: #1a1a1a
*.foreground: #c6c6c6

! green

*.color2: #0ad292
*.color10: #0ae292
! blue
*.color4  : #34f5A4
*.color12 : #72fFCF

! red
*.color1  : #CC0000
*.color9 : #EF2929

! yellow
*.color3  : #C4A000
*.color11 : #FCE94F

! magenta
*.color5  : #4d4d9d
*.color13 : #2cfc55
! cyan
*.color6  : #06989A
*.color14 : #34E2E2
! white
*.color7  : #D3D7CF
*.color15 : #EEEEEC

XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
